.profile {
  height: auto;
  max-height: 200px;
}

.logo {
  height: 64px;
}

.actualize {
  background-image: url("../img/projects/actualize/header.jpg") !important;
}

.createopportunity {
  background-image: url("../img/projects/createopportunity/main.jpg") !important;
}

.newshunt {
  background-image: url("../img/projects/newshunt/header.jpg") !important;
}

.portfolio {
  background-image: url("../img/projects/portfolio/main.jpg") !important;
}

.primemeals {
  background-image: url("../img/projects/primemeals/main.jpg") !important;
}

.talentstack {
  background-image: url("../img/projects/talentstack/main.jpg") !important;
}

.container .thumbnail {
  max-height: 100%;
  max-width: 100%;
}

.overview {
  background-color: gray;
}

.skill {
  height: 200px;
  padding-bottom: 10px;
}

#threadz-logo {
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-width: 320px) and (orientation: portrait){
  #threadz-logo {
    width: 17em;
  }
}

#threadz-logo:hover {
  transform: scale(1.05);
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

#reference-padding {
  padding: 2em;
}

.newspaper {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.quote {
    text-align: center;
    font-style: italic;
}

.quote:before, .quote:after{
    position: relative;
    content: "";
    width: 30%;
    left: 35%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid white;
}