.profile {
  height: auto;
  max-height: 200px;
}

.logo {
  height: 64px;
}

.pop:hover {
  transform: scale(1.05)
}

.container .thumbnail {
  max-height: 100%;
  max-width: 100%;
}

.overview {
  background-color: gray;
}

.skill {
  height: 200px;
  padding-bottom: 10px;
}

#project-logo {
  position: absolute;
  margin: auto;
  padding-top: 5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-device-width: 320px) and (orientation: portrait){
  #project-logo {
    padding-top: 3em;
    width: 25em;
  }
}

#project-logo:hover {
  transform: scale(1.1);
  /*transition: 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11);*/
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#guitar {
  max-height: 7em;
}

#xl {
  padding: 1.4em;
}

#reference-padding {
  padding: 2em;
}

.newspaper {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.quote {
    text-align: center;
    font-style: italic;
}

.quote:before, .quote:after{
    position: relative;
    content: "";
    width: 30%;
    left: 35%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid white;
}

.masthead {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.threadz-parallax {
  /* The image used */
  position: relative;
  background-image: url("../img/backgrounds/threadz-bg.jpeg");

  /* Set a specific height */
  min-height: 23em; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ts-parallax {
  /* The image used */
  position: relative;
  background-image: url("../img/backgrounds/talentstack-bg.jpg");

  /* Set a specific height */
  min-height: 23em; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.final-parallax {
    /* The image used */
  position: relative;
  background-image: url("../img/backgrounds/final-bg.jpg");

  /* Set a specific height */
  min-height: 20em; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}